langchain==0.3.27
langchain-community==0.3.27
langchain-core==0.3.72
langchain-chroma==0.2.5
langchain-huggingface==0.3.1
chromadb==1.0.15
sentence-transformers==5.0.0
transformers==4.54.1
torch>=2.3.0
PyMuPDF==1.26.3
streamlit==1.47.1
openai==1.97.0
python-dotenv==1.1.1
pandas==2.3.1
numpy==2.3.1
scikit-learn==1.7.1
matplotlib==3.10.3
tqdm==4.67.1
loguru==0.7.3
pydantic==2.11.7
langchain-openai>=0.3,<0.4